{% extends "base.html" %}
{% load static %}

{% block page_title %}Team{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'home/team.css' %}">
{% endblock %}

{% block main_content %}
  <section id="desc-genome-selector">
    <button class="tab-btn active" data-tab="current-members"><span id="lang_species_desc">Current Members</span>
    </button>
    <button class="tab-btn" data-tab="former-members"><span id="lang_species_brow">Former Members</span>
    </button>
    <button class="tab-btn" data-tab="former-students"><span id="lang_species_brow">Former Students</span></button>
  </section>

  <section id="team-members">
    <!-- Current Members Tab -->
    <div id="current-members" class="tab-content active">
      <div class="members-flex">
        {% for member in current_members %}
          <div class="member-card">
            <div class="member-image">
              <div class="image-container">
                <img src="{% static member.image %}" alt="{{ member.name }}">
              </div>
              <div class="member-hover">
                <div class="hover-image">
                  <img src="{% static member.image %}" alt="{{ member.name }}" class="bw-image">
                </div>
                <div class="hover-content">
                  <h3>{{ member.name }}</h3>
                  <p class="member-title">{{ member.title }}</p>
                  <p class="member-description">{{ member.description }}</p>
                </div>
              </div>
            </div>
            <h3 class="member-name">{{ member.name }}</h3>
            <p class="member-role">{{ member.role }}</p>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Former Members Tab -->
    <div id="former-members" class="tab-content">
      <div class="members-flex">
        {% for member in former_members %}
          <div class="member-card">
            <div class="member-image">
              <div class="image-container">
                <img src="{% static member.image %}" alt="{{ member.name }}">
              </div>
              <div class="member-hover">
                <div class="hover-image">
                  <img src="{% static member.image %}" alt="{{ member.name }}" class="bw-image">
                </div>
                <div class="hover-content">
                  <h3>{{ member.name }}</h3>
                  <p class="member-title">{{ member.title }}</p>
                  <p class="member-description">{{ member.description }}</p>
                </div>
              </div>
            </div>
            <h3 class="member-name">{{ member.name }}</h3>
            <p class="member-role">{{ member.role }}</p>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Former-Students Tab -->
    <div id="former-students" class="tab-content">
      <div class="members-flex">
        {% for member in former_students %}
          <div class="member-card">
            <div class="member-image">
              <div class="image-container">
                <img src="{% static member.image %}" alt="{{ member.name }}">
              </div>
              <div class="member-hover">
                <div class="hover-image">
                  <img src="{% static member.image %}" alt="{{ member.name }}" class="bw-image">
                </div>
                <div class="hover-content">
                  <h3>{{ member.name }}</h3>
                  <p class="member-title">{{ member.title }}</p>
                  <p class="member-description">{{ member.description }}</p>
                </div>
              </div>
            </div>
            <h3 class="member-name">{{ member.name }}</h3>
            <p class="member-role">{{ member.role }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}

{% block js_content %}
  <script src="{% static 'home/scripts/translate.js' %}"></script>
  <script src="{% static 'home/scripts/team.js' %}"></script>
{% endblock %}