{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static "styles/reset.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "styles/header_footer.css" %}" rel="stylesheet" type="text/css">
  {% block css_files %}{% endblock %}
  <title>{% block page_title %}{% endblock %}</title>
</head>

<body>
  <!-- ================================================================================================ -->
  <!-- Header -->
  <header>
    <!--Logo and title-->
    <div class="logo">
      <a href="{% url 'home' %}"><img src="{% static 'images/logos/leish_lab_logo.png' %}" alt="Leish-Lab Logo"></a>
      <div>
        <h1>Leish-ESP</h1>
        <h4><i>{% trans 'Genome decoding' %}</i></h4>
      </div>
    </div>

    <!-- Mobile menu toggle button -->
    <button class="mobile-menu-toggle" aria-label="Toggle menu">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <!--Dropdown menu-->
    <nav>
      <div class="dropdown">
        <a href="#">{% trans "About Us" %}</a>
        <div class="dropdown-content">
          <a href="{% url 'on-development' %}">{% trans "Mission" %}</a>
          <a href="{% url 'team' %}">{% trans "Team" %}</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="#">{% trans "Species" %}</a>
        <div class="dropdown-content">
          <a href="{% url 'species_infantum' %}"><i>L. infantum</i></a>
          <a href="{% url 'species_major' %}"><i>L. major</i></a>
          <a href="{% url 'species_donovani' %}"><i>L. donovani</i></a>
          <a href="{% url 'species_braziliensis' %}"><i>L. braziliensis</i></a>
        </div>
      </div>
      <div class="dropdown">
        <a href="#">{% trans "Downloads" %}</a>
        <div class="dropdown-content">
          <a href="#">{% trans "Reports" %}</a>
          <a href="#">{% trans "Datasets" %}</a>
          <a href="#">{% trans "Software" %}</a>
        </div>
      </div>
    </nav>

    <!-- Mobile navigation menu -->
    <div class="nav-menu">
      <div class="mobile-dropdown">
        <a href="#">{% trans "About Us" %}</a>
        <div class="mobile-dropdown-content">
          <a href="{% url 'on-development' %}">{% trans "Mission" %}</a>
          <a href="{% url 'on-development' %}">{% trans "Team" %}</a>
        </div>
      </div>
      <div class="mobile-dropdown">
        <a href="#">{% trans "Species" %}</a>
        <div class="mobile-dropdown-content">
          <a href="{% url 'species_infantum' %}"><i>L. infantum</i></a>
          <a href="{% url 'species_major' %}"><i>L. major</i></a>
          <a href="{% url 'species_donovani' %}"><i>L. donovani</i></a>
          <a href="{% url 'species_braziliensis' %}"><i>L. braziliensis</i></a>
        </div>
      </div>
      <div class="mobile-dropdown">
        <a href="#">{% trans "Downloads" %}</a>
        <div class="mobile-dropdown-content">
          <a href="#">{% trans "Reports" %}</a>
          <a href="#">{% trans "Datasets" %}</a>
          <a href="#">{% trans "Software" %}</a>
        </div>
      </div>
    </div>

    <!--Language selector-->
    <div id="language-selector" class="language-selector">
      <form action="{% url 'set_language' %}" method="post" id="language-form">
        {% csrf_token %}
        <label for="language-dropdown"></label>
        <select name="language" id="language-dropdown" onchange="document.getElementById('language-form').submit();">
          {% get_current_language as CURRENT_LANGUAGE %}
          {% get_available_languages as AVAILABLE_LANGUAGES %}
          {% for lang_code, lang_name in AVAILABLE_LANGUAGES %}
            <option value="{{ lang_code }}" {% if lang_code == CURRENT_LANGUAGE %}selected{% endif %}
                    data-flag="

                            {% if lang_code == 'en' %}{% static 'images/flags/english.png' %}{% elif lang_code == 'es' %}{% static 'images/flags/spanish.png' %}{% endif %}">
              {% if lang_code == 'en' %}ENG{% elif lang_code == 'es' %}ESP{% endif %}
            </option>
          {% endfor %}
        </select>
        <img id="selected-flag"
             src="

                     {% if CURRENT_LANGUAGE == 'es' %}{% static 'images/flags/spanish.png' %}{% else %}{% static 'images/flags/english.png' %}{% endif %}"
             alt="Selected Language">
      </form>
    </div>
  </header>

  <!-- ================================================================================================ -->
  <!-- Main section -->
  <!-- ================================================================================================ -->
  <main>
    {% block main_content %}{% endblock %}
  </main>
  <!-- ================================================================================================ -->
  <!-- Footer -->
  <!-- ================================================================================================ -->
  <footer>
    <div id="phone-mail">
          <span>
              <img src="{% static 'images/icons/email.png' %}" alt="Mail" class="icon">
              <a href="mailto:leish-esp@cbm.csic.es">leish-esp@cbm.csic.es</a>
          </span>
    </div>

    <span id="map">
          <img src="{% static 'images/icons/map.png' %}" alt="Location" class="icon">
          <a href="https://maps.app.goo.gl/Jsv6mqWxq4KYtYbq8" target="_blank">Nicolás Cabrera, 1, Fuencarral-El Pardo, 28049 Madrid</a>
        </span>

    <div id="social-media">
      <a href="https://x.com/WHO" target="_blank"><img src="{% static 'images/icons/twitter.png' %}" alt="Twitter"></a>
      <a href="https://www.youtube.com/@who" target="_blank"><img src="{% static 'images/icons/youtube.png' %}" alt="YouTube"></a>
      <a href="https://www.instagram.com/who" target="_blank"><img src="{% static 'images/icons/instagram.png' %}" alt="Instagram"></a>
      <a href="https://www.linkedin.com/company/world-health-organization" target="_blank"><img src="{% static 'images/icons/linkedin.png' %}" alt="LinkedIn"></a>
    </div>

    <div id="government-logos">
      <img src="{% static 'images/logos/1-CSIC-Logotipo--Web-Gob-Min-CSIC--COLOR--PNG-RGB-300ppp.png' %}" alt="Spanish Government, Science Ministry and CSIC logos">
      <img src="{% static 'images/logos/Combo-CBMExcelencia.png' %}" alt="CBM and Excellency logos">
    </div>
  </footer>
  <!-- ================================================================================================ -->
  <!-- Script section -->
  <!-- ================================================================================================ -->
  <script src="{% static 'scripts/language-selector.js' %}"></script>
  <script src="{% static 'scripts/mobile-menu.js' %}"></script>
{% block js_content %}{% endblock %}

</body>
</html>
