{% extends "base.html" %}
{% load static %}

{% block title %}L. braziliensis{% endblock %}

{% block css_files %}
 <link rel="stylesheet" href="{% static 'species/species.css' %}">
{% endblock %}

{% block main_content %}
  <section id="desc-genome-selector">
    <a href="#" id="selector-1"><span id="lang_species_desc">Description</span></a>
    <a href="http://leish-esp.cbm.uam.es/browser_ortholog_Lbraz.php" id="selector-2"><span id="lang_species_brow">Browser</span></a>
  </section>

  <section class="img-title">
    <img src="{% static 'species/images/braziliensis.png' %}" alt="L. braziliensis image">
    <article>
      <div class="text-header"><h1><i>Leishmania braziliensis</i></h1></div>
      <span id="lang_species_desc_text">
        <p>Protozoan parasite that causes mucocutaneous leishmaniasis, primarily affecting humans. This parasite is transmitted through the bites of infected female phlebotomine sandflies. Mucocutaneous leishmaniasis, also known as espundia, typically starts with skin lesions that can metastasize to mucous membranes, particularly those of the nose, mouth, and throat. Symptoms in humans initially include sores at the site of the sandfly bite, which can progress to destructive lesions of the mucous membranes, leading to severe disfigurement and functional impairment if left untreated.</p>
        <p>The life cycle of <i>L. braziliensis</i> involves two main stages: the promastigote form, found in the sandfly vector, and the amastigote form, which multiplies within the host's macrophages. In the sandfly, the parasite exists as motile promastigotes. Upon transmission to the human host, the promastigotes are phagocytosed by macrophages and transform into non-motile amastigotes. These amastigotes then multiply within the macrophages, causing cell rupture and infection of new macrophages, leading to the dissemination of the parasite.</p>
        <p>Control and prevention of leishmaniasis caused by <i>L. braziliensis</i> involve integrated approaches, including vector control through insecticides and environmental management, early diagnosis, and appropriate treatment of infected individuals. Current treatments for mucocutaneous leishmaniasis include antimonial compounds, amphotericin B, pentamidine, and miltefosine. The management of the disease is challenging due to issues such as drug resistance, adverse effects, and the need for prolonged treatment courses. Advances in molecular biology and genomics have deepened the understanding of <i>L. braziliensis</i>'s biology and pathogenic mechanisms, paving the way for potential new therapies and vaccines. Despite these scientific advances, mucocutaneous leishmaniasis remains a significant public health issue, particularly in endemic regions with limited access to healthcare and effective vector control measures.</p>
      </span>
    </article>
  </section>

  <section id="downloads-table">
    <!-- table like structure for downloading files-->
  </section>
{% endblock %}

{% block js_content %}
  <script src="{% static 'species/scripts/populate-downloads-table.js' %}"></script>
    <script src="{% static 'species/scripts/translate-braziliensis.js' %}"></script>
{% endblock %}
