
{% extends "html/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}L. infantum{% endblock %}

{% block css_files %}
 <link rel="stylesheet" href="{% static 'species/styles/species.css' %}">
{% endblock %}

{% block main_content %}
  <section id="desc-genome-selector">
    <a href="{% url 'species_infantum' %}" id="selector-1"><span>{% trans "Description" %}</span></a>
    <a href="{% url 'species_infantum_browser' %}" id="selector-2"><span>{% trans "Browser" %}</span></a>
  </section>

  <section class="img-title">
    <img src="{% static 'species/images/infantum.png' %}" alt="L. infantum image">
    <article>
      <div class="text-header"><h1><i>Leishmania infantum</i></h1></div>
      <div>
        {% blocktrans %}
          <p>Protozoan parasite responsible for the disease leishmaniasis, primarily affecting both humans and
            animals. This parasite is transmitted through the bites of infected female phlebotomine sandflies.
            The disease manifests in various forms, with the most severe being visceral leishmaniasis, also
            known as kala-azar, which can be fatal if left untreated. In humans, <i>L. infantum</i> infection
            leads to symptoms such as fever, weight loss, hepatosplenomegaly (enlarged liver and spleen),
            anemia, and a significant drop in white blood cell counts. The parasite predominantly affects
            internal organs, including the liver, spleen, and bone marrow. In dogs, which are the primary
            reservoir hosts, the infection can result in skin lesions, lymphadenopathy, and general systemic
            illness, contributing to the spread of the disease to humans.</p>
            <p><i>L. infantum</i> has a complex life cycle involving two main stages: the promastigote form found in
            the sandfly vector and the amastigote form that multiplies within the host's macrophages. Control
            and prevention of leishmaniasis caused by <i>L. infantum</i> involve integrated approaches,
            including vector control, early diagnosis, and treatment of infected individuals, as well as
            management of reservoir hosts. Current treatments for visceral leishmaniasis include antimonial
            compounds, amphotericin B, and miltefosine, although drug resistance and adverse effects pose
            significant challenges. Advances in molecular biology and genomics have facilitated a deeper
            understanding of the parasite's biology and pathogenic mechanisms, paving the way for potential new
            therapies and vaccines. However, leishmaniasis remains a major public health concern, particularly
            in regions where vector control and access to healthcare are limited.</p>
        {% endblocktrans %}
      </div>
    </article>
  </section>

  <section id="downloads-table">
    <table>
      <thead>
        <tr>
          <th>{% trans "File" %}</th>
          <th>{% trans "Reference Genome" %}</th>
          <th>{% trans "Version/Year" %}</th>
          <th>{% trans "Downloads" %}</th>
          <th>{% trans "Raw Data" %}</th>
          <th>{% trans "Notes" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in downloads_data %}
        <tr>
          <td><strong>{{ item.type|upper }} ({{ item.format|upper }})</strong></td>
          <td>{{ item.url|safe }}</td>
          <td>{{ item.version }}/{{ item.year }}</td>
          <td><a href="{{ item.path_file }}" class="download-button">{% trans "DOWNLOAD" %}</a></td>
          <td>{{ item.raw_data|safe }}</td>
          <td>{{ item.description|safe }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}

{% block js_content %}
{% endblock %}