{% extends "html/base.html" %}
{% load static %}

{% block title %}L. major{% endblock %}

{% block css_files %}
 <link rel="stylesheet" href="{% static 'species/styles/species.css' %}">
{% endblock %}

{% block main_content %}
  <section id="desc-genome-selector">
    <a href="#" id="selector-1"><span id="lang_species_desc">Description</span></a>
    <a href="http://leish-esp.cbm.uam.es/browser2.php" id="selector-2"><span id="lang_species_brow">Browser</span></a>
  </section>

  <section class="img-title">
    <img src="{% static 'species/images/major.png' %}" alt="L. major image">
    <article>
      <div class="text-header"><h1><i>Leishmania major</i></h1></div>
      <span id="lang_species_desc_text">
        <p>Protozoan parasite that causes cutaneous leishmaniasis, primarily affecting humans and some animals. The parasite is transmitted to hosts through the bites of infected female phlebotomine sandflies. Cutaneous leishmaniasis, the most common form of the disease, typically results in skin lesions that can lead to significant scarring and disability. Symptoms in humans include the development of one or more sores at the site of the sandfly bite, which may progress to ulcers with a raised edge. These sores often heal spontaneously over months to years, but they can leave disfiguring scars and may be prone to secondary infections.</p>
        <p>The life cycle of <i>L. major</i> involves two main stages: the promastigote form, which is found in the sandfly vector, and the amastigote form, which multiplies within the host's macrophages. In the sandfly, the parasite exists as motile promastigotes. Once transmitted to the human host, the promastigotes are phagocytosed by macrophages and transform into non-motile amastigotes. These amastigotes then multiply within the macrophages, leading to cell rupture and further spread of the infection to new macrophages.</p>
        <p>Control and prevention of leishmaniasis caused by <i>L. major</i> involve integrated approaches, including sandfly vector control through insecticide use and environmental management, early diagnosis, and treatment of infected individuals. Current treatments for cutaneous leishmaniasis include topical and systemic therapies such as antimonial compounds, miltefosine, and amphotericin B. However, the effectiveness of treatments can vary, and issues such as drug resistance and adverse effects continue to pose significant challenges. Advances in molecular biology and genomics have enhanced the understanding of <i>L. major</i>'s biology and pathogenic mechanisms, offering hope for new therapeutic approaches and potential vaccines. Despite these advances, cutaneous leishmaniasis remains a significant public health issue, particularly in endemic regions where access to healthcare and effective vector control measures are limited.</p>
        </span>
    </article>
  </section>

  <section id="downloads-table">
    <!-- table like structure for downloading files-->
  </section>
{% endblock %}

{% block js_content %}
  <script src="{% static 'species/scripts/populate-downloads-table.js' %}"></script>
    <script src="{% static 'species/scripts/translate-major.js' %}"></script>

{% endblock %}
